<div class="container">
    <h1 class="page-header">Store</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">
            Type:
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            <select class="form-control">
                <option value="all">All</option>
                <option value="class">Class</option>
                <option value="group">Group</option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">
            Level:
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            <select class="form-control">
                <option value="all">All</option>
                <option value="1">Beginners</option>
                <option value="2">Intermediate</option>
                <option value="3">Advanced</option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">
            Theme:
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            <select class="form-control">
            </select>
        </div>
    </div>
</div>
<div class="container scroll-div">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul>
            <li class="asana-list">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        Type: xxx
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-5">
                        Level: xxx
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        Theme: xxx
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
                        <button class="btn btn-default pull-right teacher-list-btn">view</button>
                    </div>
                </div>
            </li>
            <hr />
            <li class="asana-list">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        Type: xxx
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-5">
                        Level: xxx
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        Theme: xxx
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
                        <button class="btn btn-default pull-right teacher-list-btn">view</button>
                    </div>
                </div>
            </li>
            <hr />
            <li class="asana-list">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        Type: xxx
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-5">
                        Level: xxx
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        Theme: xxx
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
                        <button class="btn btn-default pull-right teacher-list-btn">view</button>
                    </div>
                </div>
            </li>
            <hr />
            <li class="asana-list">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        Type: xxx
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-5">
                        Level: xxx
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        Theme: xxx
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
                        <button class="btn btn-default pull-right teacher-list-btn">view</button>
                    </div>
                </div>
            </li>
            <hr />
            <li class="asana-list">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        Type: xxx
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-5">
                        Level: xxx
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        Theme: xxx
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
                        <button class="btn btn-default pull-right teacher-list-btn">view</button>
                    </div>
                </div>
            </li>
            <hr />
            <li class="asana-list">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        Type: xxx
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-5">
                        Level: xxx
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        Theme: xxx
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
                        <button class="btn btn-default pull-right teacher-list-btn">view</button>
                    </div>
                </div>
            </li>
            <hr />
            <li class="asana-list">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        Type: xxx
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-5">
                        Level: xxx
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        Theme: xxx
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
                        <button class="btn btn-default pull-right teacher-list-btn">view</button>
                    </div>
                </div>
            </li>
            <hr />
            <li class="asana-list">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        Type: xxx
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-5">
                        Level: xxx
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        Theme: xxx
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
                        <button class="btn btn-default pull-right teacher-list-btn">view</button>
                    </div>
                </div>
            </li>
            <hr />
            <li class="asana-list">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        Type: xxx
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-5">
                        Level: xxx
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        Theme: xxx
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
                        <button class="btn btn-default pull-right teacher-list-btn">view</button>
                    </div>
                </div>
            </li>
            <hr />
            <li class="asana-list">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        Type: xxx
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-5">
                        Level: xxx
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        Theme: xxx
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
                        <button class="btn btn-default pull-right teacher-list-btn">view</button>
                    </div>
                </div>
            </li>
            <hr />
        </ul>
    </div>
</div>

