<div class="container">
    <h1 class="page-header">Account Created</h1>
    <p style="text-align: center;">Congratulations your account has been created, please check your email for a confermation link.</p>
</div>

